body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
footer
{
	/*background: #82c4f3;*/
	background: -webkit-linear-gradient(top, #ddecf6, #82c4f3);
	background: -moz-linear-gradient(top, #ddecf6, #82c4f3);
	background: -o-linear-gradient(top, #ddecf6, #82c4f3);
	background: -ms-linear-gradient(top, #ddecf6, #82c4f3);
	font-size: 0.8em;
	margin: 0;
	padding: 1px 0 1px 0;
	text-align: center;
}
footer strong
{
	color: #343411;
}
footer p a
{
	color: #000000;
	font-size: 1.1em;
	margin: 0;
	text-decoration: none;
}
footer p a:hover
{
	color: #b96622;
	text-transform: uppercase;
}

header
{
	background: #de9117;
	color: #FFFFFF;
	display: inline-block;
	height: 80px;
	margin: 0;
	padding: 0;
	width: 100%;
}
header #logo
{
	float: left;
	margin: 0;
}
header h1
{
	font-size: 1.5em;
	margin: 0;
	padding: 13px 0 0 10px;
	text-shadow: rgba(0,0,0,0.7) 3px 3px 7px;
}
header h2
{
	font-size: 0.9em;
	margin: 0;
	padding: 0 0 0 150px;
	
}
header #logo a img
{
	width: 65px;
}
label
{
	color: blue;
}
nav
{
	margin: 0;
	padding: 0;
}
nav ul li a
{
	/*background: blue;*/
	color: #FFFFFF;
	padding: 16px 0;
	text-decoration: none;
}
nav ul
{
	list-style: none;
	margin: 5px 0;
	padding: 0;

}
nav ul li
{
	display: inline-block;
}
nav ul li:hover
{
	border-radius: 15px;
	box-shadow: 0 0 30px yellow;
}
nav ul #Nosotros
{
	background: #ecc307;
	padding: 15px 0 15px 0;
	font-size: 0.9em;
	text-align: center;
	width: 24%;
}
nav ul #Servicios
{
	background: #82b965;
	padding: 15px 0 15px 0;
	font-size: 0.9em;
	text-align: center;
	width: 24%;
}
nav ul #Fotos
{
	background: #0db3e3;
	padding: 15px 0 15px 0;
	font-size: 0.9em;
	text-align: center;
	width: 24%;
}
nav ul #Contactos
{
	background: #d53f40;
	padding: 15px 0 15px 0;
	font-size: 0.9em;
	text-align: center;
	width: 24%;
}
strong
{
	color: orange;
}

#contenedor p 
{
	font-size: 0.9em;
	padding: 0 10px;
}

#contenedor #titulos
{
	color: #2555cf;
	font-style: italic;
	font-size: 1em;
	font-weight:bold;
	

}
/*header ul #Face
{
	background: #02a5e6;
	padding: 25px;
	width: 25px;
}
header ul #Twitter
{
	background: #32ccfe;
	padding: 25px;
	width: 25px;
}*/

#contenedor #Animaciones
{
	display: inline-block;
	margin: 0 auto;
	padding: 0 auto;
	width: 100%;
}

#contenedor #Animaciones .ninos
{
	float: left;
	margin: 0 auto;
	padding: 0 auto;
	width: 50%;
}
#contenedor #Animaciones .adultos
{
	float: right;
	margin: 0 auto;
	padding: 0 auto;
	width: 50%;
}
#contenedor #Animaciones ul li,#Servicios ul li  
{
	font-size: 0.9em;
}
#contenedor .flexslider
{
	/*width: 640px;*/
	height: 100%;
}
#btnsubmit
{
	border: none;
	cursor: pointer;
	padding: 100px 0;
}

#nombre,#correo,#mensaje
{
	border-radius: 5px;
	margin: 10px;
}
#mensaje
{
	width: 90%;
}

.dircorreo
{
	margin: 0 0 0 5px;
}

/*.facebook img, .twitter img
{
	width: 25px;
}*/
.Redes .redsocial a
{
	color: #010101;
	display: inline-block;
	text-decoration: none;
	margin: 0;
}
#contenedor .tit_correo
{
	color: #010101;
}
#tit1
{
	color: #4474df;
	font-style: italic;
}
#subtitulos
{
	font-style: italic;
	font-weight:bold;
	color: #1f232b;
}

.tit_logo
{
	display: block;
	float: left
}


@media screen and (min-width: 480px){
	header
	{
		height: 200px;
	}
	header #logo a img
	{
		width: 150px;
	}
	header h1
	{	
		font-size: 2.5em;
		/*font-family: Tahoma;*/
		padding: 60px 25px 0 0;
		text-shadow: rgba(0,0,0,0.7) 3px 3px 7px;
	}
	header h2
	{
		font-size: 1.3em;
		padding: 0 0 0 245px;
	}
	nav{
		font-size: 1.2em;
	}
	#contenedor
	{
		overflow: hidden;
		font-size: 1.1em;
	}

	#contenedor #Servicios .Basicos
	{
		float: left;
		/*height: 250px;*/
		margin: 0 auto;
		padding: 0 auto;
		width: 50%;
	}
	#contenedor #Servicios .Pasiva
	{
		float: right;
		/*height: 250px;*/
		margin: 0 auto;
		padding: 0 auto;
		width: 50%;
	}
	#contenedor #Servicios .Disfraces
		{
		float: left;
		/*height: 250px;*/
		margin: 0 auto;
		padding: 0 auto;
		width: 50%;
	}
	#contenedor #Servicios .Juegos
	{
		float: right;
		/*height: 250px;*/
		margin: 0 auto;
		padding: 0 auto;
		width: 50%;
	}
	#contenedor #Servicios .OtrasOpciones
		{
		float: left;
		/*height: 250px;*/
		margin: 0 auto;
		padding: 0 auto;
		width: 50%;
	}
	.parrafonos
	{
		height: 420px;
	}
}

@media screen and (min-width: 800px){
	header #logo
	{
		/*margin: auto;*/
		padding: 25px 0 0 0;
	}
	.flexslider 
	{
		margin: 0 auto 35px auto;
		width: 800px;
		
	}
}

@media screen and (min-width: 1024px){
	body
	{
		width: 1024px;
		margin: 0 auto;
	}
	header
	{
		display: inline-block;
		width: 100%;
	}
	header #logo
	{
		/*margin: auto;*/
		padding: 25px 0;
	}
	header figure
	{
		margin: auto 20px;
	}

	nav
	{
		margin: 0 auto;
		padding: 0;
	}

	.flexslider 
	{
		margin: 0 auto 35px auto;
		width: 850px;
		
	}
}

