a
{
	color: #22BCE0;
}
body
{
	font-size: 16px;
}

footer
{
	background: #BBB3FF;
	padding: 1.5em;
	text-align: center;
}
header
{
	background: #344B54;
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}
header figure
{
	float: left;
}
header #logo img
{
	border-right: 1px solid white;
	margin-right: 0.5em;
	padding-right: 0.5em;
	width: 150px;
}
header h1
{
	font-size: 1.2em;
	font-weight: normal; /*impide que el titulo este en negrita*/
	margin: 0 70px 0 0;
}
header #redes
{
	margin: 0.5em 0.5em 0 0;
	position: absolute;
	right: 0;
	top: 0;
}

nav ul li
{
	display: inline-block;
}

nav ul li a 
{
	text-decoration: none;
}

